$bn-green: #00ff00;
$bn-red: #ff0000;
$bn-blue1: linear-gradient(100deg, #546e7a 0%, #54af7a 100%); // background
$bn-blue2: rgba(0, 0, 0, 0.3); // panel headings
$bn-blue3: rgba(0, 0, 0, 0.3); // panel bodies
$bn-blue-light: #4794FF;  // sort icon
$bn-blue-light1: rgba(0, 0, 0, 0.3); // buttons, primary/nudge
$bn-blue-light2: rgba(0, 0, 0, 0.5); // not used
$bn-blue-light3: #FFF; // active tab, refresh/expand symbol hover color
$bn-blue-light4: rgba(0, 0, 0, 0.3); // input background, pair select scroll section background
$bn-blue-light5: rgba(0, 0, 0, 0.5); // pair selector header and tab
$bn-blue-light6: rgba(0, 0, 0, 0.5); // menu hover color
$bn-blue-light7: #ADCFFF; // order form type select

$open-sans: 'Open Sans', sans-serif;
$roboto-mono: 'Roboto Mono', sans-serif;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
